@charset "UTF-8";

footer {
	height: 100px;
}

#contents {
	min-height: 800px;
}

nav {
	background-color: cornflowerblue;
}

.menu-font {
	color: white;
	font-size: 17px;
	font-weight: bold;
}

.menu-font:hover {
	color: white;
	border: 2px solid white;
}

.input-label {
    width:130px;
    text-align: right;
    margin-right:10px;
}